.wrapper {
  background-color: #fafcff;
  height: 961px;
}

.content {
  background-color: #fafcff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 100vh;
  width: 70%;
  right: 5%;
  top: 25%;
  position: absolute;
  border-radius: 25px;
}

.content h1:first-child {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 3%;
  padding-left: 5%;
  color: #3a3d42;
}

.content .text {
  padding-top: 3%;
  padding-left: 5%;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #7a7886;
}

.cardContainer {
  margin-top: 5%;
  position: relative;
}

.card {
  width: 90%;
  height: 92px;
  margin: 2% auto 2% auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.card p:first-child {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #7a7886;
  text-align: left;
  padding-left: 3%;
  padding-top: 1%;
}

.card p:nth-child(2) {
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #514f5b;
  padding-left: 3%;
}

.card a {
  text-decoration: none;
  position: absolute;
  right: 3%;
  top: 40%;
  color: #6379f4;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
