.wrapper {
  background-color: #fafcff;
  height: 961px;
}

.content {
  background-color: #fafcff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 100vh;
  width: 70%;
  right: 5%;
  top: 25%;
  position: absolute;
  border-radius: 25px;
}

.profilepic {
  width: 80px;
  height: 80px;
  margin: 5% auto 0 auto;
}

.profilepic img {
  border-radius: 10px;
}

.button {
  width: 10%;
  margin: 2% auto 1% auto;
}

.button button {
  width: 100%;
  color: #7a7886;
  box-shadow: none !important;
  background-color: white;
}

.button button:hover {
  background-color: white;
  width: 100%;
  color: #7a7886;
  box-shadow: none !important;
}

.button i {
  padding-right: 10%;
  color: #7a7886;
}

.name {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: "Nunito Sans";
  font-weight: 700;
  color: #4d4b57;
}

.phone {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito Sans";
  color: #7a7886;
}

.cardDetail {
  border-radius: 10px;
  display: flex;
  margin: 0% auto 3% auto;
  width: 60%;
  height: 10%;
  background-color: #e5e8ed;
  position: relative;
}

.cardDetail:hover {
  cursor: pointer;
}

.cardDetail p {
  padding-left: 5%;
  padding-top: 4%;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4b57;
}

.cardDetail i {
  position: absolute;
  color: #4d4b57;
  font-size: 30px;
  right: 5%;
  top: 20%;
}
